

.main-div{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    border: 2px black solid;
    padding: 20px;
    margin: 20 20 20 20;
}